body {
    max-width: 480px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    display: none;
}

header {
    left: auto !important;
    max-width: 480px;
}

.button--success {
    padding: 15px 30px;
    background-color: #30e391;
    color: #fff;
}

.button--waiting {
    padding: 15px 30px;
    background-color: #0d6efd;
    color: #fff;
}

.button--process {
    padding: 15px 30px;
    background-color: #ffc107;
    color: #fff;
}

.button--cancel {
    padding: 15px 30px;
    background-color: #dc3545;
    color: #fff;
}

.card__icon img{
    margin: 0 auto;
}

.title--fitur {
    text-align: center;
}

.page--pesan {
    background-color: #f6f9fa;
}

#profile {
    background-color: #f6f9fa;
}

#button-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#button-profile a {
    padding: 15px 30px;
    margin-bottom: 10px;
}

.user-akun {
    display: flex;
    align-items: center;
    background: none;
}

.user-akun img {
    max-width: 24px;
    margin-right: 15px;
}

.user-profile {
    height: 100%;
}

.edit-data {
    margin-bottom: 40px;
}

.alert {
    display: inline-block;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 10px;
    letter-spacing: 1px;
    font-weight: 700;
    border: none;
    text-align: center;
}

.setflex--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error p {
    padding: 0;
}

.error--select {
    padding: 0 !important; 
}

.error--black {
    color: grey !important;
}

.login-title {
    margin-bottom: 16px;
} 